@font-face{
	font-family: 'SourceSansPro-Regular';
	src: local('SourceSansPro');
	src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'SourceSansPro-SemiBold';
	src: local('SourceSansPro');
	src: url('../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'SourceSansPro-Bold';
	src: local('SourceSansPro');
	src: url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'SourceSansPro-Black';
	src: local('SourceSansPro');
	src: url('../fonts/SourceSansPro/SourceSansPro-Black.ttf');
	font-weight: 900;
	font-style: normal;
}