@media only screen and(max-width: 1220px){
	.top-footer__content{
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and(max-width: 1200px){
	.top-banner__title{
		font-size: 3.5rem;
	}
	.featured-section__item{
		padding: 45px 25px;
	}
}

@media only screen and(max-width: 1100px){
	.header-body{
		padding: 0 30px;
	}
}

@media only screen and(max-width: 980px){
	.top-footer__content{
		flex-wrap: wrap;
	}
}

@media only screen and(max-width: 750px){
	body{
		overflow-x: hidden;
	}
	.header-burger{
		display: block;
	}
	.header-list{
		position: absolute;
		right: 0;
		top: 10vh;
		height: 40vh;
		flex-direction: column;
		justify-content: space-around;
		width: 30%;
		background: rgba(33, 33, 33, 0.9);
		transition: transform 0.5s ease-in;
		transform: translateX(100%);
		&__link{
			display: block;
			color: #fff;
			width: 100%;
			height: 40px;
		}
		&__item{
			margin-left: 0;
			background-color: $mainColor;
			width: 100%;
			text-align: center;
			
			line-height: 38px;
		}
	}
	.header-burger--active{
		transform: translateX(0%);
	}
	
}

@media only screen and(max-width: 880px){
	.top-banner__title{
		font-size: 2.5rem;
	}
	.featured-section__descr{
		font-size: 1.3rem;
	}
	.date-content__title{
		font-size: .9rem;
	}
}

@media only screen and(max-width: 780px){
	.top-banner__content{
		max-width: 60%;
	}
	.facts-wrapper{
		flex-direction: column;
		&__item{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__text{
			font-size: 1rem;
		}
	}
	.description-gallery{
		align-items: center;
		flex-direction: column;
		&__item{
			width: 100%;
			margin-bottom: 30px;
			&:last-child { margin-bottom: 0; }
			&:nth-child(1){ order: 1; }
			&:nth-child(2){ order: 2; }
			&:nth-child(4){ order: 3; }
			&:nth-child(3){ order: 4; }
			&:nth-child(5){ order: 5; }
			&:nth-child(6){ order: 6; }
		}
		&__text{
			margin-bottom: 0;
		}
		&__title{
			margin-bottom: 30px;
		}
	}
	.footer-content__wrapper{
		flex-direction: column;
		& > * {
			margin: 10px 0;
			&:first-child {margin-top: 0;}
			&:last-child {margin-bottom: 0;}}
	}
	.footer-content__text{
		text-align: center;
	}
}

@media only screen and(max-width: 650px){
	.advantages-body{
		flex-direction: column;
		align-items: center;
		&__item{
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
		&__text{
			margin: 0 auto;
		}
	}
	.team-gallery{
		flex-direction: column;
		&__item{
			margin-bottom: 40px;
			&:last-child{margin-bottom: 0;}
		}
	}
}

@media only screen and(max-width: 600px){
	html,body{
		font-size: 14px;
	}
	.top-footer__submit-wrapper{
		display: flex;
		flex-direction: column;
	}
	.top-footer__subject{
		margin-left: 0;
	}
	.top-footer__email{
		margin-bottom: 20px;
	}
}



@media only screen and(max-width: 530px){
	.top-banner__title{
		font-size: 1.5rem;
	}
	.top-banner__btn{
		height: 35px;
		line-height: 33px;
		font-size: 1rem;
		white-space: nowrap;
	}

	.top-banner__content{
		max-width: 100%;
	}

	.facts-wrapper__item{
		width: 100%;
	}
	
}

@media only screen and(max-width: 390px){
	.top-banner__btn{
		padding: 0 40px;
	}
	.top-banner__text{
		line-height: 30px;
	}
	.advantages-body__title{
		font-size: 1rem;
	}
	.portfolio-tabs{
		flex-wrap: wrap;
	}
	.featured-section__info{
		font-size: 0.7rem;
	}
	.top-footer__wrapper{
		flex-direction: column;
		& > * {
			margin: 20px 0;
			&:first-child {margin-top: 0;}
			&:last-child {margin-bottom: 0;}}
	}
}