//ШРИФТЫ
$mainFont:'SourceSansPro-Regular';
$lightBold:'SourceSansPro-SemiBold';
$boldFont:'SourceSansPro-Bold';
$blackFont:'SourceSansPro-Black';



//ЦВЕТА
$mainColor:#212121;
$gallery: #efefef;
$boulder: #767676;
$silver: #C5C5C5;
$cinnabar: #E64A19;
$emperor: #555555;
$dustyGray: #999999;
$tundora: #474747;
$alto: #dddddd;