.main-footer
	section.top-footer
		.container
			.top-footer__content
				form.top-footer__form
					.top-footer-logo
						h2.top-footer-logo__text Unicorn
					p.top-footer__info One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
					.top-footer__submit-wrapper
						input(type='text', placeholder='Email').top-footer__email.top-footer__input
						input(type='text', placeholder='Subject').top-footer__subject.top-footer__input
						input(type='text', placeholder='Message').top-footer__message.top-footer__input
					a(href="#").top-footer__btn Send
				.top-footer__wrapper
					.top-footer-links
						h3.top-footer__title Links
						ul.top-footer-links__list.top-footer-list
							li.top-footer-list__item
								a(href='#').top-footer-list__link Home
							li.top-footer-list__item
								a(href='#').top-footer-list__link About
							li.top-footer-list__item
								a(href='#').top-footer-list__link Services
							li.top-footer-list__item
								a(href='#').top-footer-list__link Menu
							li.top-footer-list__item
								a(href='#').top-footer-list__link Restaurants
							li.top-footer-list__item
								a(href='#').top-footer-list__link Work Hours
							li.top-footer-list__item
								a(href='#').top-footer-list__link Call Hours
					.top-footer-friends
						h3.top-footer__title Friends
						ul.top-footer-friens.top-footer-list
							li.top-footer-list__item
								a(href='#').top-footer-list__link Home
							li.top-footer-list__item
								a(href='#').top-footer-list__link About
							li.top-footer-list__item
								a(href='#').top-footer-list__link Services
							li.top-footer-list__item
								a(href='#').top-footer-list__link Menu
							li.top-footer-list__item
								a(href='#').top-footer-list__link Restaurants
					.top-footer-social
						h3.top-footer__title Social
						ul.top-footer-social.top-footer-list
							li.top-footer-list__item
								a(href='#').top-footer-list__link Facebook
							li.top-footer-list__item
								a(href='#').top-footer-list__link Twitter
							li.top-footer-list__item
								a(href='#').top-footer-list__link Github
							li.top-footer-list__item
								a(href='#').top-footer-list__link Pinterest
							li.top-footer-list__item
								a(href='#').top-footer-list__link Google Plus
							li.top-footer-list__item
								a(href='#').top-footer-list__link Dribbble
							li.top-footer-list__item
								a(href='#').top-footer-list__link Flickr
							li.top-footer-list__item
								a(href='#').top-footer-list__link Others	
									
			
	footer.footer
		.container
			.footer-content
				.footer-content__wrapper
					.footer-content__item
						p.footer-content__text One morning, when Gregor Samsa woke from troubled dreams, he found © 2015 Your Awesome Company
					.footer-content__item
						ul.footer-navigation
							li.footer-navigation__item
								a(href='#').footer-navigation__link Terms
							li.footer-navigation__item
								a(href='#').footer-navigation__link Privacy Policy
							li.footer-navigation__item
								a(href='#').footer-navigation__link Contact
							li.footer-navigation__item
								a(href='#').footer-navigation__link Job