header.header
	.container
		.header-body
			.header-logo
				h2.header-logo__text Unicorn
			nav.header-body__nav
				ul.header-body__list.header-list
					li.header-list__item 
						a(href='#').header-list__link Home
					li.header-list__item 
						a(href='#').header-list__link About
					li.header-list__item 
						a(href='#').header-list__link Stories
					li.header-list__item 
						a(href='#').header-list__link Hello
				.header-burger
						span.header-burger__line
						span.header-burger__line
						span.header-burger__line
			